<div class=" container-fluid">
    <div class="card" style="margin-left: 50px; margin-top: 30px; margin-right: 1%;">
        <div class="card-body">
            <nav class="nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Item 1</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Item 2</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li>
                        <button type="button" class="btn btn-outline-primary"
                            (click)="openModal(addDeviceModal)">Asociar nuevo dispositivo</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<ng-template #addDeviceModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">asociar nuevo dispositivo</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="alert alert-warning" role="alert" *ngIf="this.message !== '' && this.valid === false">
            <fa-icon [icon]="faAlert" class="nav-icon"></fa-icon>
            {{this.message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="this.message !== '' && this.valid === true">
            {{this.message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="addDevice" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Numero de Modelo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="idModel">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </div>
        </form>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>