<div class="chart-wrapper">

    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" dropdown>
        <button class="btn btn-outline-primary btn-sm" id="dropdownMenuButton" ngbDropdownAnchor
            (focus)="myDrop.open()">{{labelTime}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" ng-change="onChangeDrop()">
            <button ngbDropdownItem *ngFor="let item of actions" (click)='ChangeValueDrop(item)'>{{item}}</button>
        </div>
    </div>

    <!-- width="615" height="150" -->
    <canvas  baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions" 
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType">
    </canvas>
</div>