<ng-template #modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ modalConfig.modalTitle }}</h5>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <div *ngIf="modalConfig.hideDismissButton === undefined">
      <button type="button" class="btn btn-outline-secondary" (click)="dismiss()"
      [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()">
      {{ modalConfig.dismissButtonLabel }}
    </button>
    </div>
    <div *ngIf="modalConfig.hideCloseButton === undefined">
      <button type="button" class="btn btn-outline-primary" (click)="close()"
      [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
      {{ modalConfig.closeButtonLabel }}
    </button>
    </div>
  </div>
</ng-template>